
.battlefield-table {
    margin: 0;
    border-collapse: collapse;
    cursor: default;
    display: inline-block;
    position: relative
}

.battlefield-cell {
    border: 1px solid #b4b4ff;
    padding: 0
}

table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

.battlefield-cell-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 2em;
    width: 2em;
}

.battlefield-cell__busy {
    border: 2px solid #3243B2;
    background-color: #dcdcdc;
}

.battlefield__rival .battlefield-cell:hover {
    cursor: pointer;
    border: 1.5px solid green;
}

.battlefield-cell__shoot {
    background-color: #faffbb;
}

.battlefield-cell__missed {
     background-color: #d6d6ce;
}

.battlefields {
    padding-top: 110px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.battlefield {
    position: relative
}

.battlefield__self {
    float: left
}

.battlefield__rival {
    float: right
}

.battlefield__wait {
    position: relative;
    cursor: default
}

    .battlefield__wait:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(255,255,255,.6);
        z-index: 100;
        content: ""
    }

.body__with-pointerevents .battlefield__wait:after {
    display: none
}

.battlefield__rival.battlefield__wait, .battlefield__rival.battlefield__wait * {
    cursor: default
}

.battlefields__handly .battlefield__rival {
    display: none;
    width: 0;
    overflow: hidden
}

.battlefields__handly .battlefield__self {
    margin-left: 250px
}


.battlefield-gap {
    display: inline-block;
    position: relative;
}

.battlefield-start {
    position: absolute;
    width: 100%;
    z-index: 101;
    margin-top: 25%
}

.battlefield-start-button__disabled {
    cursor: default !important;
    top: 0;
    opacity: .5;
    pointer-events: none
}

.battlefield-start-choose_rival-label {
    position: relative;
}

.none {
    display: none;
}

.notifications {
    margin: 10px auto;
    width: 400px;
    height: 100px
}

.notification {
    background: #f8f8f8;
    padding: .5em;
    overflow: hidden;
    position: relative
}

.notification-message {
    position: relative;
    z-index: 0
}

.welcome {
    text-align: center
}

.welcome-text {
    font-size: 100px
}

.welcome-image {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
}

#connectionIDtxt {
    width: 300px;
    text-align: center;
    display: inline-block;
    margin-bottom: 25px;
}

.battlefield-stat {
    position: absolute;
    top: 40px
}

.battlefield__self .battlefield-stat {
    left: 20px
}

.battlefield__rival .battlefield-stat {
    margin-left: 25em;
}

.ship-types {
    display: inline-block
}

.ship-type {
    overflow: hidden
}

.ship {
    margin: 0 7px 13px 0;
    display: block;
    float: left
}

    .ship:last-child {
        margin-right: 0
    }

.ship-part {
    width: 7px;
    height: 7px;
    margin: 0 1px 0 0;
    background: #c5c5ff;
    display: block;
    float: left
}

.ship__killed .ship-part {
    background-color: red;
}

.ship-part:last-child {
    margin-right: 0
}
.battlefield-cell__missed__mark {
    width: 5px;
    height: 5px;
    background: #737373;
    /* position: absolute; */
    border-radius: 50%;
}

.battlefield-cell__shoot__mark-rigthLine {
    width: 40px;
    height: 2px;
    background: #fa0707;
    transform: rotate(46deg);
    position: absolute;
}
.battlefield-cell__shoot__mark-leftLine {
    width: 40px;
    height: 2px;
    background: #fa0707;
    position: absolute;
    transform: rotate(314deg);
}
.ship-type ship-type__len_1 > .ship__killed {
    background-color: red;
}