
.battlefield-table {
    margin: 0;
    border-collapse: collapse;
    cursor: default;
    display: inline-block;
    position: relative
}

.battlefield-cell {
    border: 1px solid #b4b4ff;
    padding: 0
}
table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
.battlefield-cell-content {
    position: relative;
    height: 2em;
    width: 2em;
}
.battlefield-cell__busy {
    border: 2px solid #3243B2;
    background-color: #dcdcdc;
}